<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body class="container">
        <header><%- include('../partials/header.ejs') %></header>
        <main>
            <div class="content">
                <h1><%= title %></h1>
                <h2><%= category.title %></h2>
                <h3><%= category.description %></h3>

                <p>
                    <strong>Items in category: </strong>
                    <% if(category_items && category_items.length > 0){ %> 
                        <% category_items.forEach(function(item){ %>
                            <li><a href="<%=item.url %>"><%=item.name %></a></li>
                        <% }) %> 
                    <% } %> 
                </p>
            </div>
            <hr>
            <p><a href="<%= category.url+'/delete' %>">Delete category</a></p>
            <p><a href="<%= category.url+'/update' %>">Update category</a></p>
        </main>
        <footer><%- include('../partials/footer.ejs') %></footer>
    </body>
</html>
