<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <header><%- include('../partials/header.ejs') %></header>
        <main class="d-flex mx-5 align-items-center justify-content-center ">
            <div class="container">
                <h1><%= title %></h1>
                <a href="/catalog/categories/create" class="btn btn-primary mb-3">Create new category</a>
                <% if (category_list.length) { %>
                <ul class="list-group">
                    <% category_list.forEach(category => { %>
                    <li class="list-group-item">
                        <a href="<%= category.url %>"><%= category.title %></a>
                    </li>
                    <% }) %>
                </ul>
                <% } %>
            </div>
        </main>
        <footer><%- include('../partials/footer.ejs') %></footer>
    </body>
</html>
