<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <header><%- include('../partials/header.ejs') %></header>
        <main class="d-flex mx-5 align-items-center justify-content-center">
            <div class="content">
                <h1><%= title %></h1>
                <a href="/catalog/categories/create">Create new category</a>
                <% if (category_list.length) { %>
                <ul>
                    <% category_list.forEach(category => { %>
                    <li>
                        <a href="<%= category.url %>"><%= category.title %></a>
                    </li>
                    <% }) %>
                </ul>
                <% } %>
            </div>
        </main>
        <footer><%- include('../partials/footer.ejs') %></footer>
    </body>
</html>
