<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <header><%- include('../partials/header.ejs') %></header>
        <main class="d-flex mx-5 align-items-center justify-content-center flex-column">
            <div class="d-flex justify-content-between">
                <p><a href="<%= item.url+'/delete' %>" class="btn btn-danger">Delete item</a></p>
                <p><a href="<%= item.url+'/update' %>" class="btn btn-warning">Update item</a></p>
            </div>
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"><%= title %></h1>
                    <h2 class="card-title"><%= item.name %></h2>
                    <p class="card-text">
                        <strong>Categories: </strong>
                        <% if(item.category && item.category.length > 0){ %>
                            <% item.category.forEach(function(category){ %>
                                <li><a href="<%=category.url %>" class="badge bg-secondary"><%=category.title %></a></li>
                            <% }) %>
                        <% } %>
                    </p>
                    <p class="card-text"><strong>Description:</strong><%=item.description %></p>
                    <p class="card-text"><strong>Price: </strong><%= item.price %></p>
                    <p class="card-text"><strong>In stock: </strong><%= item.numberInStock %></p>
                </div>
            </div>
            <hr>

        </main>
        <footer><%- include('../partials/footer.ejs') %></footer>
    </body>
</html>
