<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <header><%- include('../partials/header.ejs') %></header>
        <main class="d-flex mx-5 align-items-center justify-content-center">
            <div class="content">
                <h1><%= title %></h1>

                <form method="POST">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" class="form-control" required, placeholder="name of item" name="name" value="<%= item && item.name ? item.name : '' %>">
                    </div>
                    <div class="form-group">
                        <label for="category">Categories:</label>
                        <div>
                            <% for(let category of categories) { %>
                                <label for="<%=category._id%>"><%=category.title%></label>
                                <div style="display:inline; padding-right:10px;">
                                    <% if (category.checked) { %>
                                        <input type="checkbox" class="checkbox-input" name="categories" id="<%=category._id%>" value="<%=category._id%>" checked>
                                    <% } else { %> 
                                        <input type="checkbox" class="checkbox-input" name="categories" id="<%=category._id%>" value="<%=category._id%>">    
                                    <% } %>     
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input type="text" id="description" class="form-control" placeholder="Describe the item" name="description" required value="<%= item && item.description ? item.description : '' %>">
                    </div>
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" id="price" class="form-control" min="0" max="99999" step="0.01" name="price" pattern="\d+(\.\d{2})?" title="Please enter a valid price with two decimals" required value="<%= item && item.price ? item.price : ''%>">
                    </div>
                    <div class="form-group">
                        <label for="numberInStock">In stock:</label>
                        <input type="number" id="numberInStock" class="form-control" min="0" max="99999" name="numberInStock" placeholder="Number of items in stock" required value="<%= item && item.numberInStock ? item.numberInStock : ''%>">
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
                <% if (errors) { %>
                    <% for(let error of errors){ %>
                       <li><%= error.msg %></li>         
                    <% } %>
                   <% } %>
            </div>
        </main>
        <footer><%- include('../partials/footer.ejs') %></footer>
    </body>
</html>
